<app-header></app-header>
<div class="contenedor">
    <h1>Pronostico de todos los dias</h1>
    <mat-progress-bar *ngIf="progress_bar" mode="query"></mat-progress-bar>

    <div class="forecast-day">
        <div class="item-day" *ngFor="let day of allDays; let i = index">
            <h1>Dia {{i+1}}</h1>
            <h3>{{day.descripcion}}</h3>
            <p style="font-size: 30px;">{{day.humedad}} %</p>
            <img style="height: 50px; width: 50px;border-radius: 10px;" src="../../../assets/img/nublado.jpg" alt="img nube">
            <button (click)="goToDetails(day, i)"  mat-raised-button color="warn" class="button-login">
                <span style="color: white;">Ver Detalles</span>
                
            </button>
        </div>

    </div>
    
</div>
